@model MacroSociety.Models.GroupInvitation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroupInvitation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvitationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvitationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvitedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvitedByNavigation.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvitedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvitedUser.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
